@charset "UTF-8";
body {
  font-family: "Alata", "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
  font-size: 14px;
  color: #16161D;
}

body li {
  list-style: none;
}

body a {
  text-decoration: none;
}

.bold_ja {
  font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", sans-serif;
  font-weight: 700;
}

.bold_en {
  font-family: "Alata", sans-serif;
  font-weight: 500;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 64px;
  -ms-flex: 1 0 auto;
  -webkit-box-flex: 1;
          flex: 1 0 auto;
}

.dashed {
  border-top: dashed 1px #a33fff;
  margin: 100px 35px;
}

.dashed_60 {
  border-top: dashed 1px #a33fff;
  margin: 60px 0;
}

@media screen and (max-width: 767px) {
  .dashed, .dashed_60 {
    border-top: dashed 1px #a33fff;
    margin: 80px 0;
  }
}

.breadcrumb {
  padding: 60px 0 20px;
  margin-left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /*横に並ぶように*/
  width: 100%;
  z-index: 2;
}

.breadcrumb li {
  list-style: none;
}

.breadcrumb li::after {
  /* >を表示*/
  font-family: FontAwesome;
  content: '\f105';
  padding: 0 3px;
  color: #626265;
}

.breadcrumb li:last-child::after {
  content: '';
}

.breadcrumb li a {
  text-decoration: none;
  color: #a33fff;
  /*色*/
}

.breadcrumb li a:hover {
  text-decoration: underline;
}

header {
  font-size: 20px;
  padding: 20px 0;
  position: fixed;
  width: 100%;
  z-index: 1;
}

header .title {
  color: #16161D;
}

header .title:hover {
  color: #a33fff;
}

header .nav {
  margin: 20px;
  color: #16161D;
  -webkit-transition: border .3s,color .3s;
  transition: border .3s,color .3s;
  border-bottom: 3px solid transparent;
}

header .nav:hover {
  border-bottom-color: #a33fff;
}

header .nav:active {
  border-bottom-color: #a33fff;
  color: #a33fff;
}

@media screen and (max-width: 767px) {
  header .container {
    padding: 0 20px;
  }
  header .nav {
    margin: 0 0 0 20px;
  }
}

.top_pic {
  position: relative;
  background-image: url(./img/top.jpg);
  background-repeat: no-repeat;
  background-position: 95% 10%;
  background-size: 55%;
}

.top_description {
  font-size: 45px;
  padding: 200px 0px 140px;
  line-height: 1.5;
}

@media screen and (max-width: 767px) {
  .top_pic {
    padding-top: 20%;
    background-size: 90%;
    background-position: 95% 20%;
  }
  .top_description {
    padding-top: 95%;
    font-size: 35px;
    padding-left: 20px;
    padding-bottom: 20px;
  }
}

.section_title {
  font-size: 35px;
  padding: 40px;
  font-weight: bold;
}

.section_title::after {
  display: block;
  content: "";
  margin: 15px 0 35px;
  position: relative;
  width: 50px;
  border-bottom: 15px solid #a33fff;
}

.section_sub_title {
  font-size: 25px;
  margin: 30px 40px;
  text-align: center;
  line-height: 1;
  color: #16161D;
}

.section_sub_title h3 {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(75%, transparent), color-stop(20%, #a0a0a0));
  background: linear-gradient(transparent 75%, #a0a0a0 20%);
  padding-bottom: 30px;
  display: inline-block;
}

.section_sub_title p {
  margin-top: 20px;
  font-size: 14px;
}

@media screen and (max-width: 767px) {
  .section_title {
    padding: 30px 0 0;
  }
}

.works ul {
  padding: 0 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.works ul a {
  margin: 0 10px;
}

.works ul a li {
  height: 300px;
  width: 450px;
  position: relative;
  -o-object-fit: contain;
     object-fit: contain;
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
}

.works ul a li :hover {
  opacity: 0.6;
}

.works ul a li img {
  width: 450px;
  border-radius: 10px;
  -webkit-box-shadow: 1px 0 10px -2px rgba(0, 0, 0, 0.1);
          box-shadow: 1px 0 10px -2px rgba(0, 0, 0, 0.1);
}

.works ul .script {
  margin-top: 10px;
  margin-bottom: 60px;
  border-left: 5px solid #a33fff;
  padding-left: 10px;
  color: #16161D;
}

.works ul .script h4 {
  font-size: 20px;
}

.works ul .script p {
  font-size: 14px;
}

@media screen and (max-width: 767px) {
  .works ul {
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .works ul a li {
    width: 300px;
    height: 200px;
  }
  .works ul a li img {
    width: 300px;
    height: 200px;
  }
  .works ul .script {
    margin-top: 20px;
    margin-bottom: 40px;
  }
}

.top_image {
  position: relative;
  width: 100%;
  height: 600px;
  background-image: url(./img/works/musubu_list.png);
  background-size: cover;
  background-position: center center;
}

.admin_top {
  position: relative;
  width: 100%;
  height: 600px;
  background-image: url(./img/works/admin.png);
  background-size: cover;
  background-position: center center;
}

.musubuLp_top {
  position: relative;
  width: 100%;
  height: 600px;
  background-image: url(./img/works/musubu_lp.png);
  background-size: cover;
  background-position: center center;
}

.list_top {
  position: relative;
  width: 100%;
  height: 600px;
  background-image: url(./img/works/list.png);
  background-size: cover;
  background-position: center center;
}

.nalc_top {
  position: relative;
  width: 100%;
  height: 600px;
  background-image: url(./img/works/nalc.png);
  background-size: cover;
  background-position: center center;
}

.sky_top {
  position: relative;
  width: 100%;
  height: 600px;
  background-image: url(./img/works/sky.png);
  background-size: cover;
  background-position: center center;
}

.mypage_top {
  position: relative;
  width: 100%;
  height: 600px;
  background-image: url(./img/works/mypage.png);
  background-size: cover;
  background-position: center center;
}

@media screen and (max-width: 767px) {
  .mypage_top, .admin_top, .musubuLp_top, .list_top,
  .nalc_top, .sky_top {
    height: 350px;
  }
}

.respectively_works, .works_script {
  margin-bottom: 80px;
  padding: 0 40px;
}

.respectively_works img, .works_script img {
  position: relative;
  margin-top: 0;
  margin: 0 10px;
  width: 90%;
}

.respectively_works h2, .works_script h2 {
  font-size: 35px;
  border-left: 5px solid #a33fff;
  padding-left: 10px;
  margin: 40px 0;
}

.respectively_works h3, .works_script h3 {
  color: #626265;
  margin-top: 20px;
  margin-bottom: 10px;
  display: inline-block;
  border-bottom: 3px solid #a33fff;
}

.respectively_works h4, .works_script h4 {
  font-size: 20px;
  font-weight: bold;
}

.respectively_works h5, .works_script h5 {
  font-size: 18px;
  margin-bottom: 10px;
}

.respectively_works a, .works_script a {
  text-decoration: underline;
  color: #626265;
  font-weight: bold;
}

.respectively_works a:hover, .works_script a:hover {
  color: #a33fff;
}

@media screen and (max-width: 767px) {
  .respectively_works, .works_script {
    padding: 0;
    margin-bottom: 20px;
  }
  img {
    width: 100%;
    margin: 0;
    margin-bottom: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.pic_frame {
  width: 100%;
  height: 100%;
}

.skills {
  background: whitesmoke;
}

.skill_list {
  padding: 0 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.skill_list::after {
  content: "";
  width: 48%;
}

.skill_card {
  width: 22%;
  margin-bottom: 40px;
  background: #fff;
  border-radius: 8px;
}

.skill_card p {
  margin-top: 25px;
  text-align: center;
  padding: 15px 0px;
  border-top: 1px solid #f0f1f5;
  font-size: 18px;
}

.skill_card img {
  width: 100px;
  height: 100px;
  margin: 25px auto 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 767px) {
  .container {
    padding: 0 40px;
  }
  .skill_list {
    padding: 20px 0 0;
  }
  .skill_card {
    width: 48%;
  }
}

.about_pic {
  background-image: url(./img/about.jpg);
  background-repeat: no-repeat;
  background-position: 110% top;
  background-size: 45%;
  right: 0px;
}

.my_name {
  vertical-align: bottom;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.my_name span {
  font-size: 30px;
}

.my_name p {
  padding-top: 12px;
  font-size: 20px;
  margin-left: 20px;
}

.profile {
  z-index: 1;
  text-align: left;
  padding-left: 40px;
  margin-bottom: 60px;
}

.profile h3 {
  margin-bottom: 20px;
  border-left: 5px solid #a0a0a0;
  padding-left: 5px;
}

.profile h4 {
  margin-bottom: 15px;
  font-size: 14px;
  border-left: #a33fff 5px solid;
  display: inline-block;
  padding-left: 5px;
}

.profile_others span {
  margin-left: 10%;
}

@media screen and (max-width: 767px) {
  .my_name {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .my_name p {
    margin-left: 0;
  }
  .about_pic {
    background-size: 120%;
    background-position: top;
  }
  .profile {
    padding-left: 0;
    padding-top: 450px;
  }
  .profile_others {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .profile_others span {
    margin-left: 0;
  }
}

footer {
  background: #f3f3f3;
  padding: 40px 0;
  text-align: center;
}

footer h1 {
  font-weight: bold;
  font-size: 20px;
  color: #a0a0a0;
}

footer p {
  font-size: 12px;
  color: #626265;
}

.btn {
  margin-bottom: 60px;
  margin-top: 40px;
}

.btn a {
  background: #a33fff;
  border-radius: 8px;
  padding: 10px 25px;
  color: #fff;
  font-size: 20px;
  text-decoration: none;
}

.btn a i {
  font-size: 20px;
  padding-right: 10px;
}

.btn :hover {
  opacity: 0.8;
}

.center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.end {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.between {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.mb-80 {
  margin-bottom: 80px;
}

.ml-10p {
  margin-left: 10%;
}

.mb-60 {
  margin-bottom: 60px;
}

.mt-60 {
  margin-top: 60px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mt-40 {
  margin-top: 40px;
}

.ml-40 {
  margin-left: 40px;
}

.mr-40 {
  margin-right: 40px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mt-20 {
  margin-top: 20px;
}

.ml-20 {
  margin-left: 20px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mt-10 {
  margin-top: 10px;
}

.right_gray {
  color: #a0a0a0;
}

.gray {
  color: #626265;
}

.blue {
  color: #a33fff;
}

.co1 {
  width: 100%;
}

.co2 {
  width: 45%;
}
/*# sourceMappingURL=Style.css.map */